@font-face { font-family: "Roboto Light"; src: url(../fonts/Roboto-Light.eot); src: url(../fonts/Roboto-Light.eot) format("embedded-opentype"), url(../fonts/Roboto-Light.woff) format("woff"), url(../fonts/Roboto-Light.ttf) format("truetype"), url(../font/roboto-light.svg#RobotoLight) format("svg"); }

@font-face { font-family: "Circular"; src: url(../fonts/Circular.eot); src: url(../fonts/Circular.eot) format("embedded-opentype"), url(../fonts/Circular.woff) format("woff"), url(../fonts/Circular.ttf) format("truetype"), url(../font/circular.svg#CircularRegular) format("svg"); }

html { height: 100%; }

body.en { font-family: "Roboto Light"; color: white; height: 100%; }
body.en h1 { font-size: 34px; }
body.en h2 { font-size: 28px; }
body.en h3 { font-size: 24px; }
body.en .font-h3 { font-size: 24px; }
body.en h4 { font-size: 20px; }
body.en .font-standard { font-size: 18px; }
body.en .font-small { font-size: 16px; }
body.en .font-footer { font-size: 14px; }
body.en .footer { background-color: #ff921a; line-height: 80px; }

body.th { font-family: "Circular"; color: white; height: 100%; }
body.th h1 { font-size: 42px; }
body.th h2 { font-size: 34px; }
body.th h3 { font-size: 30px; }
body.th .font-h3 { font-size: 30px; }
body.th h4 { font-size: 24px; }
body.th .font-standard { font-size: 22px; }
body.th .font-small { font-size: 20px; }
body.th .font-footer { font-size: 18px; }
body.th .footer { background-color: #ff921a; line-height: 50px; }

.span1 .row, .span2 .row, .span3 .row, .span4 .row, .span5 .row, .span6 .row, .span7 .row { margin-left: 0px; }

.subweight { font-weight: bold; }

#banner { background-image: url("../images/bg-bigbanner.png"); background-size: 100% 100%; background-repeat: "no-repeat"; }

#wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -50px; background: #dddddd; }

#wrap > .container { padding-top: 60px; }

#logo { padding: 16px 0 28px 0; }
#logo img { float: left; margin-right: 10px; }
#logo h1 { margin-top: 8px; }

.navbar { margin-bottom: 0px; }
.navbar .container { width: 940px; }

.navbar-inner { border: 0; border-radius: 0; background: rgba(255, 146, 26, 0.9); }

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus { background: rgba(237, 27, 36, 0.8); color: white; }

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle { background-color: #ed1b24; color: white; }

.navbar .nav > li > a { opacity: 0.7; color: white; text-shadow: none; }

.navbar .nav > li.active > a { opacity: 1.0; }

.navbar .nav li.dropdown > .dropdown-toggle .caret { border-top-color: white; }

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret { border-top-color: white; }

.btn-group.open .btn.dropdown-toggle { background: rgba(0, 0, 0, 0.4); }

.btn { background: rgba(0, 0, 0, 0.4); border-bottom-color: #000; }

.caret { border-top: 4px solid white; }

#navbar .dropdown-menu { background: rgba(238, 238, 238, 0.8); border-radius: 0px; margin: 0; padding: 0; }

.navbar .nav > li > .dropdown-menu:before { display: none; }

.navbar .nav > li > .dropdown-menu:after { display: none; }

.dropdown-menu > li > a:hover { background: rgba(255, 255, 255, 0.6); color: #333333; }

#lang-menu .dropdown-menu { background: rgba(0, 0, 0, 0.4); padding: 0; }

#lang-menu .dropdown-menu > li > a { color: white; }

#lang-menu .dropdown-menu > li > a:hover { background: rgba(102, 102, 102, 0); }

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background: rgba(0, 0, 0, 0.4); }

#carousel { padding: 60px 0; }
#carousel input[type=button] { color: white; background-color: #555555; opacity: 0.3; }
#carousel p { line-height: 30px; margin: 20px 0 30px; }
#carousel .span2 { margin-left: 0px; }

#quality_products { background-color: #dddddd; padding: 40px 0; }

#moredetail { width: 100%; padding: 0.5em 0 0.6em; color: #fff; background: rgba(102, 102, 102, 0.6); border: 2px rgba(255, 255, 255, 0.1) solid; border-radius: 5px; text-align: center; cursor: pointer; }

#home_mid { color: #555555; text-align: center; }
#home_mid h2, #home_mid h3 { font-weight: bold; }
#home_mid h2 { margin-bottom: 40px; }
#home_mid .span4 h3 { margin-top: 20px; margin-bottom: 5px; }

.border-img { border-radius: 500px; border: solid 7px #bbb; padding: 7px; margin-left: 12px; margin-right: 12px; cursor: pointer; }

#moreinfo { background-image: url("../images/bg-moreinfo.png"); background-size: 100% auto; background-repeat: "no-repeat"; padding: 40px 0 100px; text-align: center; }
#moreinfo h1 { margin-bottom: 24px; }
#moreinfo a { text-decoration: none; }

.tel { width: 100%; padding: 0.8em 0 1em; color: #fff; background: rgba(102, 102, 102, 0.6); border: 2px rgba(255, 255, 255, 0.1) solid; border-radius: 5px; margin-top: 8px; margin-bottom: 8px; }

#email { width: 100%; padding: 0.8em 0 1em; color: #fff; background: rgba(102, 102, 102, 0.6); border: 2px rgba(255, 255, 255, 0.1) solid; border-radius: 5px; }

#productspage { color: #333333; margin-bottom: 50px; }
#productspage .span6 { width: 450px; }
#productspage h2 { font-weight: bold; margin-bottom: 16px; }
#productspage h4 { line-height: 24px; margin-bottom: 16px; }

.two-col { padding: 34px 0; }

.img-products { width: 100%; }

.two-col:nth-child(odd) { background: #dddddd; }

.two-col:nth-child(even) { background: #eeeeee; }

.product-tel { background: #d0d0d0; margin-top: 14px; padding: 8px 22px; border-radius: 20px; width: 37%; }

#aboutpage { color: #333333; }
#aboutpage h2, #aboutpage h3 { font-weight: bold; }
#aboutpage h2 { margin-bottom: 16px; }
#aboutpage h4 { line-height: 26px; margin-bottom: 30px; }

#contact { background: #dddddd; padding: 36px 0; }

#mapcontact .span2, #mapcontact .span4 { margin-left: 0px; }

#about { background: #eeeeee; padding: 40px 0 64px; }
#about img { margin-left: 30px; }
#about .img-circle { background: white; }
#about .row { padding-bottom: 40px; }

#text-footer { font-family: "Roboto Light"; font-size: 14px; }
